@import url('https://fonts.googleapis.com/css?family=Abel|Open+Sans:400,400i');

/* CSS reset ============================== */
body, nav, section, header, footer, article, 
h1, h2, h3, p, a, ul, li, dt, dd, blockquote {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 100%;
	text-decoration: none;
	font-weight: inherit;
	color: inherit;
	box-sizing: border-box;
} 

/* Typography ============================== */
html { font-size: 62.5%; }

body {
	font: normal 1.6rem/1.25 'Program OT', 'Open Sans', sans-serif;
	color: #888888;
	background: #E5E5E5;
}

h1, h2 {
	line-height: 1;
	font-family: 'Abel', sans-serif;
	text-transform: uppercase;
}		

h1 { 
	font-size: 7rem; 
	margin: 2rem 0 4rem 0;
}

h2 { 
	font-size: 2rem;
	color: #A5A5A5;
	margin: 2rem 0 1rem 0;
}

h3 { 
	font-size: 1.6rem; 
	color: #E5E5E5;
} 

blockquote {
	font-style: italic;
	color: #a5a5a5;
}

img {
	display: block;
	width: 100%;
	min-width: 5rem;
	min-height: 5rem;
	background: rgba(255,255,255,.1);
}


/* Structure ============================== */
header, section, footer {
	position: relative;
    padding: 1rem;
}
.wrapper, #info {
	max-width: 900px;
	margin: 1rem auto;
}
.wrapper::after {
	content: '';
	display: block;
	clear: both;
}
body > section:nth-of-type(even) h2 {
	text-align: right;
}

/* Border */
header,body>section,footer{
    max-width: 900px;
	margin: 1rem auto;
}

/* Header */
header ul{
    text-align: center;
}

header li{
    padding: 10px;
    display: inline-block;
}

header h1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #9B59B6;
}

header h1 a{
    display: block;
    width: 600px;
    height: 100px;
    margin: 0 auto;
    padding-top: 17px;
    font-family: program, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #E5E5E5;
}

header li a{
    font-family: program, sans-serif;
    font-weight: 550;
    font-style: normal;
    color:black;
    padding-top:2px;
    padding-left:10px;
    text-transform:uppercase;
    font-size: 20px;
    
}

#info h2{
	color: black;
    font-family: program, sans-serif;
	font-style: normal;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 1px;
}

#info ul{
    color: black;
    font-family: program, sans-serif;
	font-style: normal;
	float: left;
}

#info li{
	display: inline-block;
	margin: 1rem;
}

#info h3, #info p{
padding: 2px;
}

#info h3{
	color: black;
    font-family: program, sans-serif;
	font-style: normal;
	font-size: 20px;
	font-weight: 700;
}

#map img{
	content: url("https://www.tripsavvy.com/thmb/_IxJWUzEJON2Qgb4oktvzK5dyg4=/800x634/filters:fill(auto,1)/map-skyharborairport_800-576b400f5f9b585875951a25.jpg");
	width: 500px;
}

#form{
	width: 20%;
	position: absolute;
	left: 106rem;
	bottom: 30rem;
}

#form h2{
	color: black;
    font-family: program, sans-serif;
	font-style: normal;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 1px;
}

#form fieldset label{
	color: black;
    font-family: program, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	opacity: .5;
}

#form fieldset{
	padding: 15px;

}

#femail::after,#name::after{
	content: '';
	background: black;
	width:50rem;
	height: 2px;
	display: block;
	margin-top: 2rem;
}

#message::after{
	content: '';
	background: black;
	width:50rem;
	height: 2px;
	display: block;
	margin-top: 10rem;
}

#form fieldset,#form input{
	border: rgba(0,0,0,0)
}

#form input{
	background: rgba(0,0,0,0)

}

#form button{
	margin-left: 16px;
	background-color: black;
	color: #E5E5E5;
    font-family: program, sans-serif;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	padding: 5px 5px;
}

#footer{
    background: #E5E5E5;
	text-align: center;
	margin-left: 45rem;
	margin-top: 5rem;
}

#footer li{
    display: inline-block;
    list-style: none;
}

#footer li a{
    display: block;
    text-indent: -9999999999px;
    width: 3rem;
    height: 3rem;
    background-image: url(../images/social.png)
}

#footer li a[href*='twitter']{
    background-position-x: -30px;
    background-position-y: 30px;
}

#footer li a[href*='youtube']{
    background-position-x: -60px;
}

#footer li a[href*='google']{
    background-position-x: -90px;
}

#footer li a[href*='instagram']{
    background-position-x: -120px;
}

#newsletter{
    margin-right: 190px;
}

#contact{
    margin-right: -190px;
}

#footer p{
    position: relative;
    font-family: program, sans-serif;
    font-weight: 1000;
    font-style: normal;
    color:#9B59B6;
    top: 2rem;
}

#footer ul{
    position: relative;
    left: 108px;
    bottom: 9px;
}
