@import url('https://fonts.googleapis.com/css?family=Abel|Open+Sans:400,400i');

/* CSS reset ============================== */
body, nav, section, header, footer, article, 
h1, h2, h3, p, a, ul, li, dt, dd, blockquote {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 100%;
	text-decoration: none;
	font-weight: inherit;
	color: inherit;
	box-sizing: border-box;
} 

/* Typography ============================== */
html { font-size: 62.5%; }

body {
	font: normal 1.6rem/1.25 'Program OT', 'Open Sans', sans-serif;
	color: #888888;
	background: #222222;
}

h1, h2, h3 {
	line-height: 1;
	font-family: 'Abel', sans-serif;
	text-transform: uppercase;
}		

h1 { 
	font-size: 7rem; 
	margin: 2rem 0 4rem 0;
}

h2 { 
	font-size: 2rem;
	color: #A5A5A5;
	margin: 2rem 0 1rem 0;
}

h3 { 
	font-size: 1.6rem; 
	color: #E5E5E5;
} 

p {
	margin-bottom: 2rem;
}

blockquote {
	font-style: italic;
	color: #a5a5a5;
}

img {
	display: block;
	width: 100%;
	min-width: 5rem;
	min-height: 5rem;
	background: rgba(255,255,255,.1);
}


/* Structure ============================== */
header, section, footer {
	position: relative;
    padding: 1rem;
}
.wrapper, #about, #events {
	max-width: 900px;
	margin: 1rem auto;
}
.wrapper::after {
	content: '';
	display: block;
	clear: both;
}
body > section:nth-of-type(even) h2 {
	text-align: right;
}

/* Border */
header,body>section,footer{
    max-width: 900px;
	margin: 1rem auto;
}

.button{
    position: relative;
	background:#9B59B6;
	color: white;
	padding: .5rem 4rem .5rem 1rem;
	clip-path: polygon(0 0, 100% 0, 65% 100%, 0% 100%);
}

/* Header=========================*/

/* Background*/
header{
    height: 33rem;
    background-image: url('../images/band.jpg');
    background-position:center;
    background-position-x: -15rem;
    background-position-y: -18rem; 
}

/* Rock Band Image */
 header h1 img{
    background: rgba(0,0,0,0);
    width:10%;
    margin-top:95px;
    margin-left:5rem;
}

/* Navigation */
header nav{
    margin-left:0px;
    margin-top:-3.5rem;
    margin-left: 4.5rem; 
}

header li {
    padding:3px;
}

header li a{
    font-family: program, sans-serif;
    font-weight: 500;
    font-style: normal;
    color:#EEEEEE;
    opacity: 0.5;
    padding-top:2px;
    padding-left:8px;
    text-transform:uppercase;
    
}

.active{
    border-left:3px solid #9B59B6;
    padding-left:5px;
    opacity: 1;

}

/* Latest single */
header div{
    position:absolute;
    background-color: black;
    margin-left: 65rem;
    margin-top: -5rem;
    z-index: 1;
  width: 200px;
  height: 200px;
    
}

#rectangle::before{
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;	
    border-width: 0 0 200px 200px;
    border-color: transparent transparent #000000 transparent;
    right: 20rem
}

header audio{
    width: 150px;
    display: block;
    margin:20px;
    position: relative;
    left: 2rem;
}
header div h3{
    font-size: 10px;
}
header div h2,header div h3, header div a{
    margin-left:5rem;

}
header div h2, header div h3, header div a{
    font-family: program, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    color: #EEEEEE;
    opacity: 1;
}

header div h3, header div a{
    margin-right: 14px;
}

header div{
    float: right;
    
}

header div a{
        font-family: program, sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size:87%;
        text-transform: uppercase;
        color: #EEEEEE;
        background-color: #9B59B6;
        position: relative;
        bottom: 1rem;
    }

/* News ============================== */

/* grunge */
#news::before{
    background:url('../images/grunge.png') no-repeat;
    position: absolute;
	content: '';
	display: block;
	width: 60%;
    height: 10rem;
    left:25rem;
    z-index: 0;
}

/* Border for title */
#news h2::before{
    content: '';
    display: block;
    width: 2px;
    height: 40px;
    background: #222222;
    opacity: .5;
    position: absolute;
    left:30px;
    top: 3rem;
}

/* Font for header */
#news h2{
    font-family: program, sans-serif;
    font-weight: 500;
    font-style: normal;
    color:#222222;
    margin-left:30px;
}

#news h2 span{
    display: block;
    opacity: .5;
}

/* Background */
#news {
	background: #EEEEEE;
}

#news::before {
	bottom: 100%;
}

#news::after {
	top: 100%;
}

/* Articles */
#news article {
	position: relative;
	z-index: 1;
	width: calc(25% - 2rem);
	margin-left: 2rem;
	margin-bottom: 2rem;
	padding: 8rem 5rem 1rem 0;
	float: left;
    overflow: hidden;
    left: 2rem;
}

#news article:nth-of-type(1) {
	width: 40%;
	padding-top: 26.5rem;
	margin-left: 0;
}

#news img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

#news time, #news h3{
    font-family: program, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    color: #EEEEEE;
    padding-left: 5px;
}

#news h3{
    padding-bottom: 2px;
}

#news div {
    background:rgba(34, 34, 34, 0.7);
    width:70%;
    margin-left: 5px;

}

#news article:nth-of-type(1) div{
    width:50%
}

#news time{
    font-size: 50%;
}

#news span{
    opacity: 0.5;
}

#news article:nth-of-type(1)::after{
    content: '';
    display: block;
    width: calc(100px);
    height: 2px;
    background: #EEEEEE;
    opacity: .5;
    position: relative;
    left:5px;
    top:2px;
}

#news article::after{
    content: '';
    display: block;
    width: calc(78.455px/2);
    height: 2px;
    background: #EEEEEE;
    opacity: .5;
    position: relative;
    left:5px;
    top:2px;
}

/* View more button */
#news a{
    font-family: program, sans-serif;
    font-weight:500;
    font-style: normal;
    font-size:77%;
    text-transform: uppercase;
    color: #EEEEEE;
    background-color: #9B59B6;
    position: absolute;
    top: 39.8rem;
    left: 3rem;

}

/* Events Section */
#events{
    background-image: url('../images/bw.jpg');
    background-repeat: no-repeat;
}

#events h2{
    font-family: program, sans-serif;
    font-weight: 700;
    font-style: normal;
    color:#EEEEEE;
    margin-right: 40px;
}

#events div{
    background-color: #9B59B6;
    width: 130px;
    height: 75px;
    position: relative;
    left: 18rem;
    top: 2.5rem;
    font-family: program, sans-serif;
    font-style: normal;
    color:#EEEEEE;
    text-transform: uppercase;
}

#events div::before{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 75px 75px 0;
    border-color: transparent #9c59b6 transparent transparent;
    position: absolute;
    right: 13rem;
}

#events div h4,#events div h3{
padding: 2px;
float: right;
margin-right: 10px;
}

#events div h3{
    padding-top: 8px;
    font-weight: 100;
    font-size: 20px;
    letter-spacing: 1px;
}

#events div h4{
font-weight: 700;
}

#events h3, #events h4{
    margin-left: 1rem;
}

#events li{
    background: rgba(0,0,0,.2);
	margin-bottom: 1rem;
    padding: 1rem;
    width: 60%;
    height: 6rem;
}

.location{
    content: url(../images/location.png);
    width: 2%;
    position: relative;
    bottom: 12.7rem;
    left: 40rem;
    background: rgba(0,0,0,0);
}

.ticket{
    content: url(../images/ticket.png);
    width: 10%;
    position: relative;
    bottom: 17.7rem;
    left: 45rem;
    background: rgba(0,0,0,0);
}

#events h2 span{
    display: block;
    opacity: .5;
}

#events h2::before{
    content: '';
    display: block;
    width: 2px;
    height: 40px;
    background: #888888;
    opacity: .5;
    position: absolute;
    left:85.5rem;
    top: 2.8rem;
}

#events ul{
position: relative;
left: 32rem;
bottom: 5rem;
}

#events time{
margin-bottom: 10px;
}

#events time span{
    display: block;
}

#events li h4{
    font-family: program, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #EEEEEE;
    text-transform: uppercase;
}

.venue{
    font-family: program, sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #EEEEEE;
    text-transform: uppercase;
}

.venue, #events li h4{
position: relative;
bottom:6rem;
left:8rem;
}

#months{
    font-family: program, sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #EEEEEE;
}

#num{
    font-family: program, sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #EEEEEE;
}

#events a {
    font-family: program, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size:87%;
    text-transform: uppercase;
    color: #EEEEEE;
    background-color: #9B59B6;
    position: relative;
    bottom: 5rem;
    left: 32rem;
}

#events::before{
    background:url('../images/grunge2.png') no-repeat;
    position: absolute;
	content: '';
	display: block;
	width: 60%;
    height: 10rem;
    bottom: 51.5rem;
}

/* About */
#about{
    background: #222222;
    height:53rem;
}

#about h2, #about p, #about blockquote{
    margin-left: 40px;
}

#about h2{
    font-family: program, sans-serif;
    font-weight: 700;
    font-style: normal;
    color:#EEEEEE;
    letter-spacing: 2px;
}

#about h2 span{
    display: block;
    opacity: .5;
    letter-spacing: 0px;
}

#about h2::before{
    content: '';
    display: block;
    width: 2px;
    height: 40px;
    background: #888888;
    opacity: .5;
    position: absolute;
    left:42px;
    top: 2.8rem;
}

#info{
    width: calc(100%*2/4);
}

#about ul{
    width: calc(100%*1/3);
    float:right;
    position: relative;
    bottom: 27.5rem;
    right: 7rem;

}

#about ul img{
    display: inline-block;
    width: 50%;

}

#footer::before{
    background:url('../images/nycity.png') no-repeat;
    position: absolute;
	content: '';
	display: block;
	width: 70%;
    left:2rem;
    z-index: 0;
    height: 30rem;
    bottom: 3rem;
}


#footer{
    background: #E5E5E5;
    text-align: center;
}

#footer li{
    display: inline-block;
    list-style: none;
}

#footer li a{
    display: block;
    text-indent: -9999999999px;
    width: 3rem;
    height: 3rem;
    background-image: url(../images/social.png)
}

#footer li a[href*='twitter']{
    background-position-x: -30px;
    background-position-y: 30px;
}

#footer li a[href*='youtube']{
    background-position-x: -60px;
}

#footer li a[href*='google']{
    background-position-x: -90px;
}

#footer li a[href*='instagram']{
    background-position-x: -120px;
}

#newsletter{
    margin-right: 190px;
}

#contact{
    margin-right: -190px;
}

#footer p{
    position: relative;
    font-family: program, sans-serif;
    font-weight: 700;
    font-style: normal;
    color:#9B59B6;
    top: 2rem;
}

#footer ul{
    position: relative;
    left: 110px;
    bottom: 25px;
}