/* /* Rock Band CSS
================================================== 
================================================== */

@import url('https://fonts.googleapis.com/css?family=Abel|Open+Sans:400,400i');

header,body>section,footer{
    border:5px solid red;
    
}

html { font-size: 62.5%; }

body {
    font-family: 1.4rem/1.6 'program', sans-serif;
    font-style: normal;
    font-weight: 400;
	color: #777777;
    background: #222222;
}


header, section {
	max-width: 900px;
	margin: 0 auto;
}


h1, h2 {
	line-height: 1;
	font-family: 'Abel', sans-serif;
	color: #ffffff;
}		

h1 { 
	font-size: 7rem; 
	margin: 2rem 0 4rem 0;
}
h2 { 
	font-size: 2.6rem; 	
	margin: 2rem 0 1rem 0;
}
h3 { 
	font-size: 1.6rem; 
	color: #aaaaaa;
}
p {
	margin-bottom: 2rem;
}
img {
	display: block;
	width: 100%;
}


header, section {
	/* border: 6px solid red; */
}


body > section::after {
	content: '';
	display: block;
	clear: left;
}
body > section:nth-of-type(even) h2 {
	text-align: right;
}
/* Header */
header{
   height: 33rem;
   background-image: url('../images/band.jpg');
   background-position:center;
   background-position-x: -8rem;
  
}
header h1 img{
    width:20%;
    margin-top:150px;
    margin-left:30px;
}
header nav{
    /* position: relative; */
    margin-left:32px;
    margin-top:10px;
    
}

header li {
    padding:3px;
}

header div{
    text-align:center;
    position:absolute;
    background-color: black;
    margin-top:70px;
    padding:20px;
    z-index: 1;
    margin-left:550px;
}

header div h2, div h3, div a{
    font-family: program, sans-serif;
    font-weight: 550;
    font-style: normal;
    text-transform: uppercase;
    color: #EEEEEE;
    opacity: 1;
}

header div h3, div a{
    margin-right: 14px;
}

header div a{
    display: block;
}
#news::before{
    content:'';
    background:url('../images/grunge.png') no-repeat;
    display:block;
    position: absolute;
    width:25%;
    height: 10rem;
    bottom:21rem;
    left:15rem;
}
header li a{
    font-family: program, sans-serif;
    font-weight: 550;
    font-style: normal;
    color:#EEEEEE;
    opacity: 0.5;
    padding-top:2px;
    padding-left:8px;
    text-transform:uppercase;
    
}

.active{
    border-left:3px solid #9B59B6;
    padding-left:5px;
    opacity: 1;

}

header div{
float: right;

}
/* News article */
#news {
    background-color:#EEEEEE;
}
#news article {
	width: calc(25% - 2rem);
	margin-left: 2rem;
	margin-bottom: 2rem;
	float: left;
	border: 6px solid blue;
}

#news article:nth-of-type(1) {
	width: 50%;
    margin-left: 0;
}


#events article{
    width: calc(25% - 2rem);
	margin-left: 2rem;
	margin-bottom: 2rem;
	float: top;
	border: 6px solid purple;
} 
/* About section */
#about {
    height: 350px;
    /* background-image: url('../path/to/image.jpg') */
}

#about div{
    width: calc(100%*2/4);
    float: left;
    /* padding: 10px;  */
    padding-right: 20px;

}

#about ul{
    width:calc(100%*1/3);
    float: right;
    
}

#about ul img {
    width: 49%;
    display: inline-block;
    padding:1%; 
}

#about blockquote{
    font-weight: bold;
}

/* footer */
footer {
    clear: both;
}